<ul class="letters">
  <li *ngFor= "let page of _pagination.pages"
  (click)="onSelectLetter(page)"
  [class.hide]="page.translations.length == 0">
  <a [class.active]="page.letter === _letter">
    {{page.letter}}
  </a>
  </li>
</ul>

<ul class="translations">
    <li *ngFor= "let translator of _translations.translators"
    [class.selected]="translator === _selectedTranslator"
    (click)="onSelect(translator)">
        {{translator.english}}
    </li>
</ul>
<my-translator-detail [translator]="_selectedTranslator"></my-translator-detail>