.translations {
    margin: 22 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.translations li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #FCF0E4;
    margin: .5em;
    padding: .3em 0;
    padding-left: 10px;
    padding-top: 11px;
    height: 1.6em;
    border-radius: 4px;
}

.translations li.selected:hover {
    color: #FFFFFF;
    background-color: #848C77;
}
.translations li:hover, .translations li.selected {
    color: #BF6565;
    background-color: #FCF0E4;
    left: .1em;
}
.translations .text {
    position: relative;
    top: -3px;
}

ul.letters {
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 25px 0px 25px 0px;
    overflow: hidden;
    text-align: center;
    max-width: 1180px;
    width: 588px;
}

.letters li {
    float: left;
}

.letters li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.letters li:hover a, .letters .active {
    color: #395B82;
}

.hide {
    display: none;
}

.filters span {
    margin-right: 10px;
}

.filters button:hover {
    color: #395B82;
}

