<div class="app" scrollSpy>
    <div class="white-strip"></div>
    <header>
        <div class="title" scrollSpyAffix >
            <h1>Traducteur Franglais</h1>
        </div>
    </header>
    <div class="main-menu">
        <nav class="nav">
            <a [routerLinkActive]="['active', 'router-link-active']" [routerLink]=" ['./traductions']">Traductions</a>
            <a [routerLinkActive]="['active', 'router-link-active']" [routerLink]=" ['./a-propos']">A propos</a>
        </nav>
    </div>

    <router-outlet></router-outlet>
</div>